.header {
	grid-area: header;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 935px) 1fr;
	@include adaptiv-value("padding-top", 47.6, 10, 0);
	@include adaptiv-value("padding-bottom", 84, 20, 0);
	&__body {
	grid-column: 2/3;
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	}

	&__content {
		display: grid;
		grid-auto-flow: row;
	}

	&__logo {
	}

	&__title {
	}

	&__image {
	}

	&__subtitle {
	}

	&__text {
	}

	&__link {
	}

	&__image-apple {
	}

	&__subtitle-apple {
	}

	&__sign-up {
	}

	&__iphones {
		position : relative;
		}

	&__iphone-black {
		padding: 0px 0px 122% 0px;
		width: 59.1%;
		overflow: hidden;
		position: absolute;
		
		
	
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			
		}

	}

	&__iphone-white {
		width: 59.1%;
		padding: 0px 0px 122% 0px;
		overflow: hidden;
		position : relative;
		left: 130px;
		top: 70px;
	
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
.sign-up {
	&__text {
	}

	&__inp {
	}

	&__input {
	}

	&__btn {
	}
}
